@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@300&family=Edu+TAS+Beginner:wght@500&display=swap');


:root {
  --gray: #433E3F;
  --brown-light: #d1af8d;
  --brown-dark: #8E6E53;
  --silver: #cccbcb;
  --nickel: #7A7265;

  --logo-font: 'Playfair Display';
  --main-font: 'Arima';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
  
}
a {
  text-decoration: none;
  color: var(--silver)
}

.app {
  background-color: var(--gray);
  display: flex;
  position: relative;
}

.navigation__wrapper{
  overflow-x: hidden;
}

.navbar__link-logo {
  color: var(--brown-light);
  text-decoration: none;
  font-size:42px;
}

@media screen and (max-width:1200px){
  .navbar__link-logo{
    font-size:36px;
  }
}

@media screen and (max-width:1000px){
  .navbar__link-logo{
    font-size:30px;
  }
}

.navbar__link {
  text-decoration: none;
  color: var(--silver);
  width: 100%;
  padding: 1rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-out;
}

.navbar__link:hover {
  background-color: var(--brown-light);

}

.cryptoBlock__box-shadow {
  -webkit-box-shadow: 36px 35px 34px -49px rgba(0, 0, 0, 1);
  -moz-box-shadow: 36px 35px 34px -49px rgba(0, 0, 0, 1);
  box-shadow: 36px 35px 34px -49px rgba(0, 0, 0, 1);

  transition: 0.2s ease-out;
}

.cryptoBlock__box-shadow:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.winner {
  -webkit-box-shadow: 36px 35px 34px -49px rgb(247, 3, 3);
  -moz-box-shadow: 36px 35px 34px -49px rgb(247, 3, 3);
  box-shadow: 36px 35px 34px -49px rgb(247, 3, 3);
}

.searchInput {
  width: 15rem;
  height: 3rem;
  border-radius: 12px;
  border: none;
  margin: 2rem;
  background-color: var(--silver);
  text-align: center;
  margin: '1rem'
}

.searchInput::placeholder {
  text-align: center;
  color: var(--gray);
  font-size: 15px;
  font-weight: 700;
}

.select__timeframe {
  width: '8rem';
  height: '4rem'
}

.typo__links a {
  text-decoration: none;
  color: var(--nickel);
  font-weight: 700;
}

.main__content_wrapper{
  width:80vw;
}

.main__content_media{
  width:80vw;
}

@media screen and (max-width:750px){
  .main__content_media{
    width:100vw;
  }

  .main__content_wrapper{
    width:100vw;
  }

}